<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Personas</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre: </label>
                    <input [(ngModel)]="user.nombre" name="nombre" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Apellido: </label>
                    <input [(ngModel)]="user.apellido" name="apellido" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Correo: </label>
                    <input [(ngModel)]="user.correo" name="correo" type="text" class="form-control">
                </div>
                <button (click)="guardar()">Guardar</button>
            </form>
        </div>
    </div>
</div>